@use "../../../../scss/basics.scss";

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem;

  .searchBar{
    display: flex;
    flex-direction: row;
    margin: 0.5rem;
    border-radius: 10px;
    height: 30px;

    input {
      width: 50rem;
      border-radius: 10px;
      display: flex;
      text-align: center;
    }

  }

  .categoryList {
    display: flex;

    li {
      padding: 1.5rem;
      padding-top: 0;
      position: sticky;
      list-style-type: none;

      .subcategoryList {
        display: none;
      }

      a:hover {
        background-color: #c4b701;
      }

    }
  }
}

