@use "../../../../scss/basics.scss";

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
  padding-bottom: 0.5rem;

  .searchBar{
    display: flex;
    flex-direction: row;
    margin: 0.5rem;
    border-radius: 10px;
    height: 30px;

    input {
      width: 50rem;
      border-radius: 10px;
      display: flex;
      text-align: center;
      color: basics.$primaryText;
      background-color: basics.$background;
    }

  }

  .categoryList {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;

    li:hover {
      background-color: #FFF799;
    }
    li {
      display:flex;
      padding: 1rem;
      list-style-type: none;

      a {
        text-decoration: none;
        color: basics.$primaryText;
      }


      .subcategoryList {
        display: none;
      }
    }
  }
}

