<div class="container">
  <div class="searchBar">
    <input type="text" autocomplete="on" placeholder="O que você procura?">
      <a href="">
        <mat-icon class="icon" aria-hidden="false" aria-label="search icon" fontIcon="search"></mat-icon>
      </a>
  </div>
  <div class="categories">
    <ul class="categoryList">
      <li><a href="/categoria1">Categoria 1</a>
        <ul class="subcategoryList">
          <li>Sub-category1</li>
        </ul>
      </li>
      <li><a href="/categoria2">Categoria 2</a></li>
      <li><a href="/categoria3">Categoria 3</a></li>
      <li><a href="/categoria4">Categoria 4</a></li>
      <li><a href="/categoria5">Categoria 5</a></li>
      <li><a href="/categoria6">Categoria 6</a></li>
    </ul>
  </div>
</div>
