<div class="container" id="master">
  <div class="module" id="bestsellers">

  </div>
  <div class="module" id="category1">
    <h3>Categoria 1</h3>
    <div class="cards">
      <mat-card>
        <img mat-card-image src="../../../../assets/img/doge-yasuo.jpg" alt="Imagem do produto 1">
        <mat-card-title>Produto 1</mat-card-title>
        <mat-card-subtitle>R$ 199,99</mat-card-subtitle>
        <mat-card-actions>
          <button class="detailbutton">Detalhes</button>
          <button class="buybutton">Comprar</button>
        </mat-card-actions>
      </mat-card>
      <mat-card>
        <img mat-card-image src="../../../../assets/img/doge-yasuo.jpg" alt="Imagem do produto 1">
        <mat-card-title>Produto 2</mat-card-title>
        <mat-card-subtitle>R$ 19,99</mat-card-subtitle>
        <mat-card-actions>
          <button class="detailbutton">Detalhes</button>
          <button class="buybutton">Comprar</button>
        </mat-card-actions>
      </mat-card>
      <mat-card>
        <img mat-card-image src="../../../../assets/img/doge-yasuo.jpg" alt="Imagem do produto 1">
        <mat-card-title>Produto 3</mat-card-title>
        <mat-card-subtitle>R$ 99,99</mat-card-subtitle>
        <mat-card-actions>
          <button class="detailbutton">Detalhes</button>
          <button class="buybutton">Comprar</button>
        </mat-card-actions>
      </mat-card>
      <mat-card>
        <img mat-card-image src="../../../../assets/img/doge-yasuo.jpg" alt="Imagem do produto 1">
        <mat-card-title>Produto 4</mat-card-title>
        <mat-card-subtitle>R$ 89,99</mat-card-subtitle>
        <mat-card-actions>
          <button class="detailbutton">Detalhes</button>
          <button class="buybutton">Comprar</button>
        </mat-card-actions>
      </mat-card>
      <mat-card>
        <img mat-card-image src="../../../../assets/img/doge-yasuo.jpg" alt="Imagem do produto 1">
        <mat-card-title>Produto 5</mat-card-title>
        <mat-card-subtitle>R$ 199,99</mat-card-subtitle>
        <mat-card-actions>
          <button class="detailbutton">Detalhes</button>
          <button class="buybutton">Comprar</button>
        </mat-card-actions>
      </mat-card>
      <mat-card>
        <img mat-card-image src="../../../../assets/img/doge-yasuo.jpg" alt="Imagem do produto 1">
        <mat-card-title>Produto 6</mat-card-title>
        <mat-card-subtitle>R$ 29,99</mat-card-subtitle>
        <mat-card-actions>
          <button class="detailbutton">Detalhes</button>
          <button class="buybutton">Comprar</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
  <div class="module" id="category2">
    <h3>Categoria 2</h3>
    <div class="cards">
      <mat-card>
        <img mat-card-image src="../../../../assets/img/doge-yasuo.jpg" alt="Imagem do produto 1">
        <mat-card-title>Produto 1</mat-card-title>
        <mat-card-subtitle>R$ 199,99</mat-card-subtitle>
        <mat-card-actions>
          <button class="detailbutton">Detalhes</button>
          <button class="buybutton">Comprar</button>
        </mat-card-actions>
      </mat-card>
      <mat-card>
        <img mat-card-image src="../../../../assets/img/doge-yasuo.jpg" alt="Imagem do produto 1">
        <mat-card-title>Produto 2</mat-card-title>
        <mat-card-subtitle>R$ 19,99</mat-card-subtitle>
        <mat-card-actions>
          <button class="detailbutton">Detalhes</button>
          <button class="buybutton">Comprar</button>
        </mat-card-actions>
      </mat-card>
      <mat-card>
        <img mat-card-image src="../../../../assets/img/doge-yasuo.jpg" alt="Imagem do produto 1">
        <mat-card-title>Produto 3</mat-card-title>
        <mat-card-subtitle>R$ 99,99</mat-card-subtitle>
        <mat-card-actions>
          <button class="detailbutton">Detalhes</button>
          <button class="buybutton">Comprar</button>
        </mat-card-actions>
      </mat-card>
      <mat-card>
        <img mat-card-image src="../../../../assets/img/doge-yasuo.jpg" alt="Imagem do produto 1">
        <mat-card-title>Produto 4</mat-card-title>
        <mat-card-subtitle>R$ 89,99</mat-card-subtitle>
        <mat-card-actions>
          <button class="detailbutton">Detalhes</button>
          <button class="buybutton">Comprar</button>
        </mat-card-actions>
      </mat-card>
      <mat-card>
        <img mat-card-image src="../../../../assets/img/doge-yasuo.jpg" alt="Imagem do produto 1">
        <mat-card-title>Produto 5</mat-card-title>
        <mat-card-subtitle>R$ 199,99</mat-card-subtitle>
        <mat-card-actions>
          <button class="detailbutton">Detalhes</button>
          <button class="buybutton">Comprar</button>
        </mat-card-actions>
      </mat-card>
      <mat-card>
        <img mat-card-image src="../../../../assets/img/doge-yasuo.jpg" alt="Imagem do produto 1">
        <mat-card-title>Produto 6</mat-card-title>
        <mat-card-subtitle>R$ 29,99</mat-card-subtitle>
        <mat-card-actions>
          <button class="detailbutton">Detalhes</button>
          <button class="buybutton">Comprar</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
  <div class="module" id="category3">
    <h3>Categoria 3</h3>
    <div class="cards">
      <mat-card>
        <img mat-card-image src="../../../../assets/img/doge-yasuo.jpg" alt="Imagem do produto 1">
        <mat-card-title>Produto 1</mat-card-title>
        <mat-card-subtitle>R$ 199,99</mat-card-subtitle>
        <mat-card-actions>
          <button class="detailbutton">Detalhes</button>
          <button class="buybutton">Comprar</button>
        </mat-card-actions>
      </mat-card>
      <mat-card>
        <img mat-card-image src="../../../../assets/img/doge-yasuo.jpg" alt="Imagem do produto 1">
        <mat-card-title>Produto 2</mat-card-title>
        <mat-card-subtitle>R$ 19,99</mat-card-subtitle>
        <mat-card-actions>
          <button class="detailbutton">Detalhes</button>
          <button class="buybutton">Comprar</button>
        </mat-card-actions>
      </mat-card>
      <mat-card>
        <img mat-card-image src="../../../../assets/img/doge-yasuo.jpg" alt="Imagem do produto 1">
        <mat-card-title>Produto 3</mat-card-title>
        <mat-card-subtitle>R$ 99,99</mat-card-subtitle>
        <mat-card-actions>
          <button class="detailbutton">Detalhes</button>
          <button class="buybutton">Comprar</button>
        </mat-card-actions>
      </mat-card>
      <mat-card>
        <img mat-card-image src="../../../../assets/img/doge-yasuo.jpg" alt="Imagem do produto 1">
        <mat-card-title>Produto 4</mat-card-title>
        <mat-card-subtitle>R$ 89,99</mat-card-subtitle>
        <mat-card-actions>
          <button class="detailbutton">Detalhes</button>
          <button class="buybutton">Comprar</button>
        </mat-card-actions>
      </mat-card>
      <mat-card>
        <img mat-card-image src="../../../../assets/img/doge-yasuo.jpg" alt="Imagem do produto 1">
        <mat-card-title>Produto 5</mat-card-title>
        <mat-card-subtitle>R$ 199,99</mat-card-subtitle>
        <mat-card-actions>
          <button class="detailbutton">Detalhes</button>
          <button class="buybutton">Comprar</button>
        </mat-card-actions>
      </mat-card>
      <mat-card>
        <img mat-card-image src="../../../../assets/img/doge-yasuo.jpg" alt="Imagem do produto 1">
        <mat-card-title>Produto 6</mat-card-title>
        <mat-card-subtitle>R$ 29,99</mat-card-subtitle>
        <mat-card-actions>
          <button class="detailbutton">Detalhes</button>
          <button class="buybutton">Comprar</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
  <div class="module" id="category4">
    <h3>Categoria 4</h3>
    <div class="cards">
      <mat-card>
        <img mat-card-image src="../../../../assets/img/doge-yasuo.jpg" alt="Imagem do produto 1">
        <mat-card-title>Produto 1</mat-card-title>
        <mat-card-subtitle>R$ 199,99</mat-card-subtitle>
        <mat-card-actions>
          <button class="detailbutton">Detalhes</button>
          <button class="buybutton">Comprar</button>
        </mat-card-actions>
      </mat-card>
      <mat-card>
        <img mat-card-image src="../../../../assets/img/doge-yasuo.jpg" alt="Imagem do produto 1">
        <mat-card-title>Produto 2</mat-card-title>
        <mat-card-subtitle>R$ 19,99</mat-card-subtitle>
        <mat-card-actions>
          <button class="detailbutton">Detalhes</button>
          <button class="buybutton">Comprar</button>
        </mat-card-actions>
      </mat-card>
      <mat-card>
        <img mat-card-image src="../../../../assets/img/doge-yasuo.jpg" alt="Imagem do produto 1">
        <mat-card-title>Produto 3</mat-card-title>
        <mat-card-subtitle>R$ 99,99</mat-card-subtitle>
        <mat-card-actions>
          <button class="detailbutton">Detalhes</button>
          <button class="buybutton">Comprar</button>
        </mat-card-actions>
      </mat-card>
      <mat-card>
        <img mat-card-image src="../../../../assets/img/doge-yasuo.jpg" alt="Imagem do produto 1">
        <mat-card-title>Produto 4</mat-card-title>
        <mat-card-subtitle>R$ 89,99</mat-card-subtitle>
        <mat-card-actions>
          <button class="detailbutton">Detalhes</button>
          <button class="buybutton">Comprar</button>
        </mat-card-actions>
      </mat-card>
      <mat-card>
        <img mat-card-image src="../../../../assets/img/doge-yasuo.jpg" alt="Imagem do produto 1">
        <mat-card-title>Produto 5</mat-card-title>
        <mat-card-subtitle>R$ 199,99</mat-card-subtitle>
        <mat-card-actions>
          <button class="detailbutton">Detalhes</button>
          <button class="buybutton">Comprar</button>
        </mat-card-actions>
      </mat-card>
      <mat-card>
        <img mat-card-image src="../../../../assets/img/doge-yasuo.jpg" alt="Imagem do produto 1">
        <mat-card-title>Produto 6</mat-card-title>
        <mat-card-subtitle>R$ 29,99</mat-card-subtitle>
        <mat-card-actions>
          <button class="detailbutton">Detalhes</button>
          <button class="buybutton">Comprar</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
  <div class="module" id="category5">
    <h3>Categoria 5</h3>
    <div class="cards">
      <mat-card>
        <img mat-card-image src="../../../../assets/img/doge-yasuo.jpg" alt="Imagem do produto 1">
        <mat-card-title>Produto 1</mat-card-title>
        <mat-card-subtitle>R$ 199,99</mat-card-subtitle>
        <mat-card-actions>
          <button class="detailbutton">Detalhes</button>
          <button class="buybutton">Comprar</button>
        </mat-card-actions>
      </mat-card>
      <mat-card>
        <img mat-card-image src="../../../../assets/img/doge-yasuo.jpg" alt="Imagem do produto 1">
        <mat-card-title>Produto 2</mat-card-title>
        <mat-card-subtitle>R$ 19,99</mat-card-subtitle>
        <mat-card-actions>
          <button class="detailbutton">Detalhes</button>
          <button class="buybutton">Comprar</button>
        </mat-card-actions>
      </mat-card>
      <mat-card>
        <img mat-card-image src="../../../../assets/img/doge-yasuo.jpg" alt="Imagem do produto 1">
        <mat-card-title>Produto 3</mat-card-title>
        <mat-card-subtitle>R$ 99,99</mat-card-subtitle>
        <mat-card-actions>
          <button class="detailbutton">Detalhes</button>
          <button class="buybutton">Comprar</button>
        </mat-card-actions>
      </mat-card>
      <mat-card>
        <img mat-card-image src="../../../../assets/img/doge-yasuo.jpg" alt="Imagem do produto 1">
        <mat-card-title>Produto 4</mat-card-title>
        <mat-card-subtitle>R$ 89,99</mat-card-subtitle>
        <mat-card-actions>
          <button class="detailbutton">Detalhes</button>
          <button class="buybutton">Comprar</button>
        </mat-card-actions>
      </mat-card>
      <mat-card>
        <img mat-card-image src="../../../../assets/img/doge-yasuo.jpg" alt="Imagem do produto 1">
        <mat-card-title>Produto 5</mat-card-title>
        <mat-card-subtitle>R$ 199,99</mat-card-subtitle>
        <mat-card-actions>
          <button class="detailbutton">Detalhes</button>
          <button class="buybutton">Comprar</button>
        </mat-card-actions>
      </mat-card>
      <mat-card>
        <img mat-card-image src="../../../../assets/img/doge-yasuo.jpg" alt="Imagem do produto 1">
        <mat-card-title>Produto 6</mat-card-title>
        <mat-card-subtitle>R$ 29,99</mat-card-subtitle>
        <mat-card-actions>
          <button class="detailbutton">Detalhes</button>
          <button class="buybutton">Comprar</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
  <div class="module" id="category6">
    <h3>Categoria 6</h3>
    <div class="cards">
      <mat-card>
        <img mat-card-image src="../../../../assets/img/doge-yasuo.jpg" alt="Imagem do produto 1">
        <mat-card-title>Produto 1</mat-card-title>
        <mat-card-subtitle>R$ 199,99</mat-card-subtitle>
        <mat-card-actions>
          <button class="detailbutton">Detalhes</button>
          <button class="buybutton">Comprar</button>
        </mat-card-actions>
      </mat-card>
      <mat-card>
        <img mat-card-image src="../../../../assets/img/doge-yasuo.jpg" alt="Imagem do produto 1">
        <mat-card-title>Produto 2</mat-card-title>
        <mat-card-subtitle>R$ 19,99</mat-card-subtitle>
        <mat-card-actions>
          <button class="detailbutton">Detalhes</button>
          <button class="buybutton">Comprar</button>
        </mat-card-actions>
      </mat-card>
      <mat-card>
        <img mat-card-image src="../../../../assets/img/doge-yasuo.jpg" alt="Imagem do produto 1">
        <mat-card-title>Produto 3</mat-card-title>
        <mat-card-subtitle>R$ 99,99</mat-card-subtitle>
        <mat-card-actions>
          <button class="detailbutton">Detalhes</button>
          <button class="buybutton">Comprar</button>
        </mat-card-actions>
      </mat-card>
      <mat-card>
        <img mat-card-image src="../../../../assets/img/doge-yasuo.jpg" alt="Imagem do produto 1">
        <mat-card-title>Produto 4</mat-card-title>
        <mat-card-subtitle>R$ 89,99</mat-card-subtitle>
        <mat-card-actions>
          <button class="detailbutton">Detalhes</button>
          <button class="buybutton">Comprar</button>
        </mat-card-actions>
      </mat-card>
      <mat-card>
        <img mat-card-image src="../../../../assets/img/doge-yasuo.jpg" alt="Imagem do produto 1">
        <mat-card-title>Produto 5</mat-card-title>
        <mat-card-subtitle>R$ 199,99</mat-card-subtitle>
        <mat-card-actions>
          <button class="detailbutton">Detalhes</button>
          <button class="buybutton">Comprar</button>
        </mat-card-actions>
      </mat-card>
      <mat-card>
        <img mat-card-image src="../../../../assets/img/doge-yasuo.jpg" alt="Imagem do produto 1">
        <mat-card-title>Produto 6</mat-card-title>
        <mat-card-subtitle>R$ 29,99</mat-card-subtitle>
        <mat-card-actions>
          <button class="detailbutton">Detalhes</button>
          <button class="buybutton">Comprar</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
